/******************************************
              HELPERS RULES
******************************************/
* {
  font-family: 'Poppins', sans-serif;
}
.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ml-8 {
  margin-left: 8px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.ml-14 {
  padding-left: 14px;
}
.mr-14 {
  padding-right: 14px;
}
.p-14 {
  padding: 14px;
}
.bg-dark {
  background-color: #333333;
}
.bg-black-2 {
  color: #595959 !important;;
}
.bg-grey {
  background-color: #EBEBEB;
}
.bg-lightgrey {
  background-color: rgba(211, 211, 211, .5) !important;
}
.bg-green {
  background-color: #8BC540;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.color-green {
  color: #8BC540;
}
.color-green_hover:hover {
  color: #8BC540;
}
.color-white {
  color: #ffffff;
}
.color-white:hover {
  color: #ffffff;
}
.color-black {
  color: #000000;
}
.color-black:hover {
  color: #000000;
}
.color-light-black {
  color: #686868 !important;
}
.color-black-2 {
  color: #595959 !important;;
}
.width-auto {
  width: auto !important;
}
.radius-1 {
  border-radius: 1rem;
}
.radius-2 {
  border-radius: 2rem;
}
.border-bottom-grey {
  border-bottom: 1px solid rgba(211, 211, 211, .5) !important;
}
.border-bottom-black {
  border-bottom: 1px solid #838383 !important;
}
.border-top-grey {
  border-top: 1px solid rgba(211, 211, 211, .5) !important;
}
.border-green {
  border: 1px solid #8BC540;
}
.no-border {
  border: none !important;
}
.overflow-hiddem {
  overflow: hidden;
}
.no-underline {
  text-decoration: none !important;
}
.no-underline:hover {
  text-decoration: none !important;
}
.no-resize {
  resize: none;
}
.fw-300 {
  font-weight: 300;
}
.fs-24 {
  font-size: 24px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

/******************************************
              PANIER THEME 1
******************************************/

.header-link {
  text-decoration: none !important; 
}
.dropdown-menu {
  width: 100%;
}
.dropdown-toggle::after {
  position: relative;
  top: .25rem;
}
.navbar-brand.dropdown-toggle::after {
  color: #ffffff;
}
.dropdown-item:hover {
  background-color: #ffffff !important;
  color: #8BC540 !important;
}
.dropdown-menu__image.show {
  display: flex;
}
.header-search__block {
  position: relative;
}
.header-search__icon {
  position: absolute;
  left: 15px;
}
.header-search__input {
  padding-left: 50px;
  min-width: 590px;
  border-color: #b2b2b2;
  color: #b2b2b2 !important;
}
.hero-image {
  background-image: url(../images/panier-hero-image.png);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 270px;
  background-color: #8F8F8F;
}
.breadcrumb {
  border-radius: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}
.breadcrumb-item a {
  text-decoration: none;
}
.panier__product-list,
.table td {
  color: #595959 !important;
}
.table td {
  border-top: none;
}
.card__highlight {
  min-width: 145px;
}
td .quantity-container {
  max-width: 130px;
}
.condition-block a {
  font-style: 18px;
}
.condition-block a:first-child:hover {
  color: #8BC540;;
}
.condition-block a:first-child {
  text-decoration: underline;
}
.condition-block a:last-child {
  text-decoration: none;
}
.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}
.translateX {
  transform: translateX(180px);
  transition: transform .3s;
}
/*********************************
        MOBILE MENU
**********************************/
.mobile-menu__container,
.mobile-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  z-index: 2;
  transform: translateX(-300px);
  transition: transform .3s;
}
.mobile-menu__overlay {
  right: 0;
  z-index: 1;
  max-width: none;
  opacity: 0;
  visibility: hidden;
  transform: translateX(0px)
}
.mobile-menu__container.show {
  transform: translateX(0px);
  overflow: scroll;
}
.mobile-menu__container.show + .mobile-menu__overlay {
  opacity: 1;
  visibility: visible;
}
.accordion-item {
  background-color: transparent;
}
.accordion__list-item {
  list-style: none;
}
.accordion__list-item a {
  color: #ffffff;
  text-decoration: none;
}
.accordion-item__toggler:hover,
.accordion-item__toggler:focus,
.accordion-item__toggler:active,
.accordion__list-item a:hover {
  color: #8BC540;
}

/******************************************
              MAP
******************************************/
#map {
  height: 185px;
  width: 100%;
}
.map-container {
  margin-top: 2.75rem;
}
.map-extend-height {
  height: 400px !important;
}
