/******************************************
          MEDIA QUERY THEME 1
******************************************/
@media only screen and (max-width: 991px) {
  .header-top,
  .search-block,
  .header-navbar__bottom {
    visibility: hidden;
    display: none;
  }
  .search-block + ul {
    flex-direction: row;
  }
  .hero-image {
    height: 150px;
  }
}

@media only screen and (max-width: 791px) {
  .table thead,
  .main-footer .nav-menu__center {
    display: none !important;
  }
  .table td {
    display: block;
    width: 100%;
    text-align: center;
  }
  .map-extend-md-height {
    height: 200px !important;
  }
}

@media only screen and (max-width: 431px) {
  .main-footer .d-flex .left div:first-child {
    display: none;
  }
}
